body{
	font-family: Century Gothic, sans-serif;
	color: #581F48;
}

.post{
	border-style: solid;
	width: 80%;
	margin: 1em;
}

.clearfix{
	overflow: auto;
}

.postImg{
	float: left;
	margin: auto 5px auto 0;
	vertical-align: middle;
}

.postText{
	float: center;
}